<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @name.subject %>
</p>

<p>
  <strong>Price:</strong>
  <%= @name.price %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
