<h2>
  <%= link_to 'Add New',new_post2_path, class: 'header-menu'%>	
My Posts</h2>
<ul>
<% @posts.each do |post|%>
<li><%= link_to  post.title, post2_path(post) %></li>
<%end%>
</ul>

<%= @response%>
