<h2>Add New Post</h2>
<%= form_for :post2 ,url:post2_index_path do |f|%>
<p>
<%= f.text_field :title, palceholder: 'enter title'%>
<% if @post.errors.messages[:title].any? %>
<span class= "error"><%= @post.errors.messages[:title][0] %></span>
<%end%>
</p>
<p>
<%= f.text_area :body, placeholder: 'enter body text'%>
<% if @post.errors.messages[:title].any? %>
<span class= "error"><%= @post.errors.messages[:title][0] %></span>
<%end%>

</p>
<p>
<%= f.submit %>
</p>
<%end%>
