<h1>Mypage#review</h1>
<h1>


  <%= form_tag mypage_review_path, :method=> 'get' do %>
    <%= label_tag :keyword, 'キーワード検索' %>
     <%= text_field_tag 'keyword', params[:keyword] %>
      <%= submit_tag "toukou" %>
     <%end%>
     <%= @toukou%>
     
