<div class="center jumbotron">

	<%=@a%>
<%if @albumtitles%>
<% @albumtitles.each do |i|%>
<h5><%= i[:albums] %></h5>
<%end%>
<% else%>
	
<%@mbid.each_with_index do |n,i|%>
<% @s = MusicBrainz::Artist.discography(n).as_json%>
<%= '--------------------songs----------------------'%>

<%= '-------------------releases--------------------'%>
<li><%= @releases = releases_titles(@s) %></li>
<li><% @releases.each do |a|%></li>
        <li><%=link_to a,oogui_details_path%></li>

<%end%>
<%end%>
<%end%>


