<div class="center jumbotron">

    <%= form_tag oogui_search_path, :method=> 'get' do %>	  
    <%= label_tag :keyword, 'キーワード検索' %>
   <%= text_field_tag 'keyword', params[:keyword] %>
   <%= submit_tag "検索" %>
  
       <% end %>

   
    <h1>result</h1>
    <%=@response %>
 
    <%if @names%>  
    <%  @names.each_with_index do |a,i| %>
     <% @n = a %>
     <%= link_to @n[:name],{action: :artist, button: @n[:mbid]} %>
    
     <%end%>

    <%if @artisto%>  
    <h1><%= @artisto[:artists]%></h1>

    <%end%> 
    <%end%>  
    

   <%= link_to "discs", :controller => "oogui", :action => "artist" %>
   


  





