<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
  <title></title>
  
    <%= stylesheet_link_tag    'application', media: 'all',
	    'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application',
	    'data-turbolinks-track'=> true %>
    <%= csrf_meta_tags %>		      
     <%= render 'layouts/shim' %>
	   <!--[if lt IE 9]>
=======
    <title></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
>>>>>>> d8c32fe9877051570d00a77c434b470cdb4c80ad
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
<<<<<<< HEAD
  <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
       <%= render 'layouts/footer' %>
=======
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
>>>>>>> d8c32fe9877051570d00a77c434b470cdb4c80ad
    </div>
  </body>
</html>

